<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"   th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8" />
    <title th:text="${title}"></title>
</head>
<body>
<section>
    <div class="card mr-3">

        <div class="card-body">
            <h1 class="text-center">Your Contact</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c:${contacts}">
                    <th scope="row" th:text="${'SCM2023/'+c.cid}"></th>
                    <td>
                        <img src="" class="contact_profile" th:src="@{'/IMG/'+${c.imageUrl}}" alt="" />
                        <a style="color: black;" th:href="@{'/user/contact/'+${c.cid}}">
                            <span th:text="${c.name +' '+c.secondname}"></span>
                        </a>
                    </td>
                    <td th:text="${c.phone}">Phone</td>
                    <td th:text="${c.email}">Email</td>
                    <td>
                        <a th:href="@{'/user/delete/'+${c.cid}}" class="btn btn-danger btn-sm">Delete</a>
                        <a th:href="@{'/user/update_form/'+${c.cid}}" class="btn btn-success btn-sm">Update</a>
<!--                        <form th:action="@{'/user/update_form/'+${c.cid}'}" method="POST"  class="mt-2">-->
<!--                        <button   type="submit" class="btn btn-success btn-sm">Update </button>-->
<!--                        </form>-->
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- pagination -->
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li th:if="${currentpage != 0}" class="page-item"><a th:href="@{'/user/show-contact/'+${currentpage-1}}" class="page-link" href="#">Previous</a></li>
                    <li th:classappend="${currentpage==i-1?'active':''}" th:each="i:${#numbers.sequence(1,totalpages)}" class="page-item"><a th:href="@{'/user/show-contact/'+${i-1}}" class="page-link" href="#!"><span th:text="${i}"></span></a></li>
                    <li th:if="${currentpage+1 != totalpages}" class="page-item"><a th:href="@{'/user/show-contact/'+${currentpage+1}}" class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
</body>
</html>